.avatar img {
    width: 15rem;
    height: auto;
    border-radius: 50%; }
    @media only screen and (max-width: 768px) {
      .avatar img {
        width: 10rem; 
    } 
}

.contact div {
    display: inline-block;
    width: 48px;
    margin: 0 1.0rem;
}

.contact div a{
    margin-left: 1.0rem;
    margin-right: 1.0rem;
}

.iconButton {
    background: none;
    color: inherit;
    border: none;
    box-shadow: none;
    line-height: 0;
    padding: 0 5px;
    appearance: none;
    outline: none;
  }